<tr>
  <td><%= negotiation.payment.description %>[<%= negotiation.payment.signal %>]</td>
  <td><%= negotiation.date.strftime("%d/%m/%Y")  %></td>
  <td><%= negotiation.time.strftime("%H:%M:%S") %></td>
  <td><%= negotiation.price %></td>
  <td><%= negotiation.cpf %></td>
  <td><%= negotiation.card %></td>
  <td><%= negotiation.store.name %></td>
  <td><%= negotiation.store.owner %></td>
</tr>
