<%= render 'shared/header' %>

<div class="box">
  <%= render "form_search" %>
  <hr>
  <div id="result">
    <div id="result_negotiations">
      <table>
        <thead>
          <%= render 'header' %>
        </thead>
        <tbody>
          <%= render @negotiations %>
        </tbody>
        <tfoot>
          <%= render 'footer' %>
        </tfoot>
      </table>
      </div>
  </div>
</div>
